<!-- articles/show.html.erb -->
<h1>Articles#show</h1>
<h3>個別記事ページ</h3>

<div class="container m-0">
  <div class="row mb-3">
    <div class="col-md-2">
      <%= image_tag @article.image_url(:thumb), class: "img-fluid", width: "40px", height: "25px" %>
    </div>
    <div class="col-md-10">
      <h3><%= @article.title %></h3>
    </div>
  </div>

  <hr>
  
  <div><%= markdown(@article.content).html_safe %></div>

</div>

