<div id="preloader">
  <div class="preloader">
    <span></span>
    <span></span>
  </div>
</div>

<div id="top"></div>
  
<!-- wrapper -->
<div id="wrapper" class="center-sidebar-nav">
  
  <!-- side navigation -->
  <a href="#menu-toggle" id="menu-toggle"><i class="fa fa-bars"></i></a>
  <div id="sidebar-wrapper" class="sidebar-nav">
    <ul class="sidebar-nav-inner">
      <li class="sidebar-brand">
        <a href="#"><img id="sidebar-home-image" src="images/logo.png" alt=""></a>
      </li>
      <li class="active">
        <a @click="changeActive" id="sidebar-home" class="menu-item" href="index.html">Home</a>
      </li>
      <li>
        <a @click="changeActive" id="sidebar-about-me" class="menu-item" href="about.html">About Me</a>
      </li>
      <li>
        <a @click="changeActive" id="sidebar-portfolio" class="menu-item" href="portfolio.html">Portfolio</a>
      </li>
      <li>
        <a @click="changeActive" id="sidebar-blog" class="menu-item" href="blog.html">Blog</a>
      </li>
      <li>
        <a @click="changeActive" id="sidebar-contact" class="menu-item" href="contact.html">Contact</a>
      </li>
    </ul>
  </div>
  <!-- / side navigation -->
  <!-- content -->
  <div id="page-content-wrapper">
    <header id="home" class="home-header-freelancer parallax dark">
      <div class="container w60 text-center">
      <div class="header-content content-first has-raised-content">
        <h1>ウト ヨシヒロのポートフォリオ</h1>
        <p class="bold-font">イラスト系Webサービス開発のために勉強中</p>
        <p class="hide-mobile header-text">勉強の過程で作成した作品を紹介するサイトです．</p>
        <a href="#portfolio" class="btn btn-outline-white smooth-scroll pill m-1">My Portfolio</a>
      </div><!-- / header-content -->
      </div><!-- / container -->
    </header>
    
    <section id="about">
      <div class="container">
        <div class="row vcenter">
          <div class="col-md-6 mb-3">
            <h4 class="section-title mb-0">About Me</h4>
            <div class="spacer spacer-line border-primary ml-0">&nbsp;</div>
              <p class="mb-2">今までやってきた言語など~~~~~~~~~~~~~</p>
              <p>好きなことなど~~~~~~~~~~~~~~~~~~~~</p>
          </div><!-- / column -->
          
          <div class="col-md-6">
            <p>コンテンツ</p>
          </div><!-- / column -->
            
        </div><!-- / row -->
      </div><!-- / container -->
    </section>
  
    <section id="portfolio" class="p-3">
      
      <h4 class="section-title mb-0 text-center">Portfolio</h4>
      
      <div class="container">
        <!-- portfolio filter -->
        <ul class="portfolio-filter list-inline text-center">
          <li><a href="#" data-group="all" class="active ml-2">ALL</a></li>
          <li><a href="#" data-group="architecture">ARCHITECTURE</a></li>
          <li><a href="#" data-group="design">DESIGN</a></li>
          <li><a href="#" data-group="marketing">MARKETING</a></li>
        </ul>
        <!-- / portfolio filter -->
      </div><!-- / container -->
      <div class="container">
        <ul class="row portfolio list-unstyled mb-0" id="grid">
          <!-- project -->
          <li class="col-lg-4 project tall-project" data-groups='["marketing"]'>
            <figure class="portfolio-item">
              <div class="hovereffect">
                <img class="img-responsive" src="images/izaillust.png" alt="">
                <div class="overlay">
                  <div class="hovereffect-title">
                    <a href="single-project.html">
                      <h5 @click="showPortforlio" id="portfolio_1" class="project-title">IZA! ILLUST</h5>
                    </a><!-- / project link -->
                  </div><!-- / hovereffect-title -->
                </div><!-- / overlay -->
              </div><!-- / hovereffect -->
            </figure><!-- / portfolio-item -->
          </li><!-- / project -->
          
          
            <!-- project -->
          <li class="col-lg-4 project" data-groups='["design", "architecture"]'>
            <figure class="portfolio-item">
              <div class="hovereffect">
                <img class="img-responsive" src="images/project2.jpg" alt="">
                <div class="overlay">
                  <div class="hovereffect-title">
                    <a href="single-project.html">
                      <h5 @click="showPortforlio" id="portfolio_2" class="project-title">BUILDING</h5>
                    </a><!-- / project link -->
                  </div><!-- / hovereffect-title -->
                </div><!-- / overlay -->
              </div><!-- / hovereffect -->
            </figure><!-- / portfolio-item -->
          </li><!-- / project -->
            <!-- project -->
          <li class="col-lg-4 project" data-groups='["architecture"]'>
            <figure class="portfolio-item">
              <div class="hovereffect">
                <img class="img-responsive" src="images/project3.jpg" alt="">
                <div class="overlay">
                  <div class="hovereffect-title">
                    <a href="single-project.html">
                      <h5 @click="showPortforlio" id="portfolio_3" class="project-title">SKY SCRAPER</h5>
                    </a><!-- / project link -->
                  </div><!-- / hovereffect-title -->
                </div><!-- / overlay -->
              </div><!-- / hovereffect -->
            </figure><!-- / portfolio-item -->
          </li><!-- / project -->
          
        </ul> <!-- / portfolio -->
      </div><!-- / container -->
      
      
      <div class="portfolio_contents">
        <div class="container p-0">
          <div class="row">

            <div id="portfolio_1_content" class="portfolio_content col-lg-12">
              <div class="row">
                <!--目印目印目印目印目印目印目印目印目印目印目印目印目印目印目印目印目印目印目印目印目印目印目印目印目印目印目印目印-->
                <div class="col-lg-6 p-0">

                  <section id="portfolio" class="px-4 py-2">
                    <div class="container">
                      <ul class="row portfolio lightbox list-unstyled mb-0" id="grid">
                        
                        <!-- project -->
                        <li class="col-lg-6 project">
                          <figure class="portfolio-item">
                            <a class="popup" href="images/izaillust.png">
                              <img class="img-responsive" src="images/izaillust_small.png" alt="">
                            </a>
                          </figure><!-- / portfolio-item -->
                        </li><!-- / project -->

                        <!-- project -->
                        <li class="col-lg-6 project">
                          <figure class="portfolio-item">
                            <a class="popup" href="images/izaillust_profile_page.png">
                              <img class="img-responsive" src="images/izaillust_profile_page_small.png" alt="">
                            </a>
                          </figure><!-- / portfolio-item -->
                        </li><!-- / project -->
                        
                        <!-- project -->
                        <li class="col-lg-6 project">
                          <figure class="portfolio-item">
                            <a class="popup" href="images/izaillust_ev_page.png">
                              <img class="img-responsive" src="images/izaillust_ev_page_small.png" alt="">
                            </a>
                          </figure><!-- / portfolio-item -->
                        </li><!-- / project -->

                        <!-- project -->
                        <li class="col-lg-6 project">
                          <figure class="portfolio-item">
                            <a class="popup" href="images/izaillust_ev_result_page.png">
                              <img class="img-responsive" src="images/izaillust_ev_result_page_small.png" alt="">
                            </a>
                          </figure><!-- / portfolio-item -->
                        </li><!-- / project -->

                          </ul> <!-- / portfolio -->
                      </div><!-- / container -->
                  </section>
                  <!-- / portfolio -->

                </div>
                <!--目印目印目印目印目印目印目印目印目印目印目印目印目印目印目印目印目印目印目印目印目印目印目印目印目印目印目印目印-->
                <div class="col-lg-6">
                  <h3 class="text-center py-5">IZA! ILLUST</h3>
                  <h5>イラスト評価サイト</h5>
                  <p>
                    説明文~~~~~~~~~~~~~~~~~~
                  </p>
                </div>
              </div>
              
            </div>

            <div id="portfolio_2_content" class="portfolio_content col-lg-12">
              テスト2
            </div>

            <div id="portfolio_3_content" class="portfolio_content col-lg-12">
              テスト3
            </div>

          </div>
        </div>
      </div>
      
    </section>
    <!-- / portfolio -->
  
    <!-- blog -->
    <section id="blog" class="pt-0">
      <div class="cta cta-big bg-primary dark space-bottom-2x">
        <div class="container">
          <div class="text-center">
            <h4 class="mb-2">Blog</h4>
          </div><!-- / row -->
        </div><!-- / container -->
      </div><!-- / cta -->
      <h4 class="text-center">Contact：現在開発中...</h4>
    </section>
    <!-- / blog -->
    
    <!-- contact -->
    <section id="contact" class="pt-0">
      <div class="cta cta-big bg-primary dark space-bottom-2x">
        <div class="container">
          <div class="text-center">
            <h4 class="mb-2">Contact</h4>
          </div><!-- / row -->
        </div><!-- / container -->
      </div><!-- / cta -->
      <h4 class="text-center">Contact：現在開発中...</h4>
    </section>
    <!-- / contact -->
  
  <a href="#top" class="scroll-to-top is-hidden smooth-scroll" data-nav-status="toggle"><i class="md-icon dp18">expand_less</i></a>
  
  
  <footer class="dark bg-primary-hover">
    <div class="container-fluid text-center">
      <p>Copyright © 2018. Phorto by <a href="http://kingstudio.ro" target="_blank">KingStudio</a></p>
    </div><!-- / container-fluid -->
  </footer>
  
</div><!-- / wrapper -->


