<!-- portfolios/index.html.erb-->
<div id="preloader">
  <div class="preloader">
    <span></span>
    <span></span>
  </div>
</div>

<div id="top"></div>
  
<!-- wrapper -->
<div id="wrapper" class="center-sidebar-nav">
  
  <!-- side navigation -->
  <a href="#menu-toggle" id="menu-toggle"><i class="fa fa-bars"></i></a>
  <div id="sidebar-wrapper" class="sidebar-nav">
    <ul class="sidebar-nav-inner">
      <li class="sidebar-brand">
        <a @click="goTop" id="sidebar-home-image" href="#"><img src="images/logo_myportfolio.png" alt=""></a>
      </li>
      <li class="active">
        <a @click="changeActive" id="sidebar-home" class="menu-item" href="index.html">Home</a>
      </li>
      <li>
        <a @click="changeActive" id="sidebar-about-me" class="menu-item" href="about.html">About Me</a>
      </li>
      <li>
        <a @click="changeActive" id="sidebar-portfolio" class="menu-item" href="portfolio.html">Portfolio</a>
      </li>
      <li>
        <a @click="changeActive" id="sidebar-blog" class="menu-item" href="blog.html">Blog</a>
      </li>
      <li>
        <a @click="changeActive" id="sidebar-contact" class="menu-item" href="contact.html">Contact</a>
      </li>
    </ul>
  </div>
  <!-- / side navigation -->
  <!-- content -->
  <div id="page-content-wrapper">
    <header id="home" class="home-header-freelancer parallax dark">
      <div class="container w60 text-center">
        <div class="header-content content-first has-raised-content">
          <h6 class="m-2 text-center">
            <p>
              <img class="img-logo-header" src="images/header_logo.png" alt="">
            </p>
          </h6>
          <h1>Welcome to My Portfolio!</h1>
          <p class="bold-font">宇都嘉浩のポートフォリオサイトになります．</p>
          <p class="hide-mobile header-text">理想のWebサービス開発の勉強過程で作成した作品を紹介するサイトです．</p>
          <a href="#portfolio" class="btn btn-outline-white smooth-scroll pill m-1">My Portfolio</a>
        </div><!-- / header-content -->
      </div><!-- / container -->
    </header>
    
    <section id="about">
      <div class="container">
        <div class="row vcenter">
          <div class="col-md-6 mb-3">
            <h4 class="section-title mb-0">About Me</h4>
            <div class="spacer spacer-line border-success ml-0">&nbsp;</div>
              <h6 class="mb-2">
                <ruby>
                  宇都<rt>うと</rt>
                  嘉浩<rt>よしひろ</rt>
                </ruby>
                といいます．
              </h6>
              <p>鹿児島大学 工学部 情報生体システム工学科 卒業</p>
              <p>2020年現在，鹿児島大学大学院 理工学研究科 工学専攻</p>
              <p>イラストを描くことも見ることも好きで，よくイラストに関する勉強や練習をしています．</p>
              <p>イラストに関わる勉強のさなかで，<u>"こういうサービスがあればイラスト上達の助けになるな..."</u>と思うことが増え，今年1月からWebアプリ開発のための言語を学習し始めました．</p>
              <p>現在は研究で使用しているPythonを用いた機械学習と，学んだWebサービス開発のスキルを合わせたサービスづくりを夢見て，その両方を学習しています．</p>
          </div><!-- / column -->
          
          <div class="col-md-6 skill-set">
            <h6 class="m-2 text-center">
              <p>
                <img class="img-skill-set" src="images/skillset.png" alt="">
              </p>
            </h6>
            <b>Webアプリ開発関係</b>
            <p>Ruby, Ruby on Rails, MySQL, Vue.js, JavaScript, jQuery, HTML, CSS</p>
            <p>　開発環境は主にCloud 9を用いており，画像アップロード時に必要なFTPサーバの役割にはAmazon S3を使用，デプロイはHerokuにて行っています．</p>
            <br>
            <b>研究関係</b>
            <p>Python, scikit-learn, pandas</p>
            <p>　研究では生体から得られた脳神経細胞データを，SVMと呼ばれる機械学習アルゴリズムで解析する研究を行っています．大学院での研究では，DNNと呼ばれる，より複雑なアルゴリズムを解析に導入するべく勉強中です．</p>
            <p>　自信の開発したサービスからデータベースでデータを集め，よりユーザがサービスを使いやすくなるような機能を機械学習で提供するのがひそかな夢です．</p>
            
          </div><!-- / column -->
            
        </div><!-- / row -->
      </div><!-- / container -->
    </section>
  
    <section id="portfolio" class="p-3">
      
      <h4 class="section-title mb-0 text-center">Portfolio</h4>
      
      <div class="container">
        <!-- portfolio filter -->
        <ul class="portfolio-filter list-inline text-center">
          <li><a href="#" data-group="all" class="active ml-2">ALL</a></li>
          <li><a href="#" data-group="webapp">WebApp</a></li>
          <li><a href="#" data-group="portfolio">Portfolio</a></li>
        </ul>
        <!-- / portfolio filter -->
      </div><!-- / container -->
      <div class="container">
        <ul class="row portfolio list-unstyled mb-0" id="grid">
          
          <!-- IZA! ILLUST -->
          <li class="col-lg-4 project tall-project" data-groups='["webapp"]'>
            <figure class="portfolio-item">
              <div class="hovereffect">
                <img class="img-responsive" src="images/izaillust/izaillust.png" alt="">
                <div class="overlay">
                  <div class="hovereffect-title">
                    <a href="single-project.html">
                      <h5 @click="showPortforlio" id="portfolio_1" class="project-title">IZA! ILLUST</h5>
                    </a><!-- / project link -->
                  </div><!-- / hovereffect-title -->
                </div><!-- / overlay -->
              </div><!-- / hovereffect -->
            </figure><!-- / portfolio-item -->
          </li>
          <!-- / IZA! ILLUST -->
          
          
          <!-- Microposts -->
          <li class="col-lg-4 project" data-groups='["webapp"]'>
            <figure class="portfolio-item">
              <div class="hovereffect">
                <img class="img-responsive" src="images/microposts/Microposts_user_page.png" alt="">
                <div class="overlay">
                  <div class="hovereffect-title">
                    <a href="single-project.html">
                      <h5 @click="showPortforlio" id="portfolio_2" class="project-title">Microposts</h5>
                    </a><!-- / project link -->
                  </div><!-- / hovereffect-title -->
                </div><!-- / overlay -->
              </div><!-- / hovereffect -->
            </figure><!-- / portfolio-item -->
          </li>
          <!-- / Microposts -->
          
          <!-- project -->
          <li class="col-lg-4 project" data-groups='["portfolio"]'>
            <figure class="portfolio-item">
              <div class="hovereffect">
                <img class="img-responsive" src="images/myportfolio/Home2.png" alt="">
                <div class="overlay">
                  <div class="hovereffect-title">
                    <a href="single-project.html">
                      <h5 @click="showPortforlio" id="portfolio_3" class="project-title">My Portfolio</h5>
                    </a><!-- / project link -->
                  </div><!-- / hovereffect-title -->
                </div><!-- / overlay -->
              </div><!-- / hovereffect -->
            </figure><!-- / portfolio-item -->
          </li><!-- / project -->
          
          
        </ul> <!-- / portfolio -->
      </div><!-- / container -->
      
      
      <div class="portfolio_contents">
        <div class="container p-0">
          <div class="row">

            <!-- IZA! ILLUST -->
            <div id="portfolio_1_content" class="portfolio_content col-lg-12">
              <div class="row">
                <div class="col-lg-6">
                  <h3 class="text-center py-3">IZA! ILLUST</h3>
                  <h5>イラスト評価サイト</h5>
                    <b>開発言語</b>
                    <p>Ruby, Ruby on Rails, MySQL, Amazon S3, Chart.js, HTML, CSS</p>
                    <br>
                    <b>作品について</b>
                    <p>イラストの評価をしてほしい時，イラストをSNSにアップしても，"どこがよく描けている"や"ここの表現がよくない"など，具体的な評価をもらえるサービスがないと思いました．</p>
                    <p>一番大事にしたポイントは,イラスト評価を目的として投稿する人が，現在のイラストのレベルに関わらずに具体的な評価をもらえるようにすることです．</p>
                    <p>こだわりなどがたくさんある初めてのオリジナルWebアプリですので，説明サイトをURL欄に添付しています．</p>
                    <b>URL</b>
                    <p class="link-color">
                      <i class="fa fa-mouse-pointer"></i>&nbsp;<a href="https://izaillust.herokuapp.com" target="_blank">IZA! ILLUSTへのリンク</a><br>
                      <i class="fa fa-mouse-pointer"></i>&nbsp;<a href="https://esa-pages.io/p/sharing/15554/posts/15/a28c6ca3e93a915d0523.html" target="_blank">説明サイトへのリンク</a>
                    </p>
                </div>
                <div class="col-lg-6 p-0">
                  <section id="portfolio" class="px-4 py-2">
                    <div class="container">
                      <portfolio-content v-bind:images=portfolio_images current_portofolio="0"></portfolio-content>
                    </div>
                  </section>
                </div>
              </div>
            </div>
            <!-- / IZA! ILLUST -->
            
            <!-- Microposts -->
            <div id="portfolio_2_content" class="portfolio_content col-lg-12">
              <div class="row">
                <div class="col-lg-6">
                  <h3 class="text-center py-3">Microposts</h3>
                  <h5>ツイッタークローン</h5>
                    <b>開発言語</b>
                    <p>Ruby, Ruby on Rails, MySQL, HTML, CSS</p>
                    <br>
                    <b>作品について</b>
                    <p>プログラミングスクールのWebアプリ開発コースの課題で作成した，Twitterの機能を模したクローンアプリになります．</p>
                    <p>このサイトの作成でRailsを用いた1対多や多対多のモデル作成や，データベースを扱うときのセキュリティ対策，MVCの概念など，Webアプリ開発における多くの基礎スキルを確認することができました．</p>
                    <b>URL</b>
                    <p class="link-color"><i class="fa fa-mouse-pointer"></i>&nbsp;<a href="https://micropost-1-2-3-4-5-6-7.herokuapp.com" target="_blank">Micropostsへのリンク</a></p>
                </div>
                <div class="col-lg-6 p-0">
                  <section id="portfolio" class="px-4 py-2">
                    <div class="container">
                      <portfolio-content v-bind:images=portfolio_images current_portofolio="1"></portfolio-content>
                    </div>
                  </section>
                </div>
              </div>
            </div>
            <!-- / Microposts -->

            <div id="portfolio_3_content" class="portfolio_content col-lg-12">
              <div class="row">
                <div class="col-lg-6">
                  <h3 class="text-center py-3">My Portfolio</h3>
                  <h5>ポートフォリオサイト</h5>
                    <b>開発言語</b>
                    <p>Ruby, Ruby on Rails, MySQL, Vue.js, JavaScript, jQuery, HTML, CSS</p>
                    <br>
                    <b>作品について</b>
                    <p>自分のポートフォリオサイトを作成しています(現在開発中)．Bootstrapテンプレートをもとにして，それを改良する形で進めています．</p>
                    <p>このサイト作成でチャレンジしているのは，Bootstrapテンプレートの中で記述されているHTMLコードをVue.jsを用いて見やすいコードに直すことや，jQuery, JavaScript, Vue.jsを用いたアニメーション処理を自分で記述することです．</p>
                    <p>現在Blog機能の開発中であり，それを見越してRuby on Railsを用いた開発をしています．</p>
                    <b>URL</b>
                    <p class="link-color"><i class="fa fa-mouse-pointer"></i>&nbsp;<a href="https://myportfolio-1-2-3.herokuapp.com" target="_blank">My Portfolio へのリンク</a></p>
                </div>
                <div class="col-lg-6 p-0">
                  <section id="portfolio" class="px-4 py-2">
                    <div class="container">
                      <portfolio-content v-bind:images=portfolio_images current_portofolio="2"></portfolio-content>
                    </div>
                  </section>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      
    </section>
    <!-- / portfolio -->
  
    <!-- blog -->
    <section id="blog" class="pt-0">
      <div class="cta cta-big bg-primary dark space-bottom-2x">
        <div class="text-center">
          <h4 class="mb-2">Blog</h4>
        </div>
      </div><!-- / cta -->
      <div class="text-center">
        <div class="row">
          <div class="col-md-6">
            <a href="<%= articles_path %>" target="_blank"><%= image_tag 'blogsite.png' %></a>
          </div>
          <div class="col-md-5 m-auto">
            <h4 class="text-center">現在も開発中のブログサイトです</h4>
            <p>備忘録として，勉強してきたことをメモしています．</p>
            <p>Ruby on Railsを用いて開発しており，即時プレビュー実装のマークダウン対応ブログサイトになっています．</p>
            <hr>
            <p>主な記事内容</p>
            <ul>
              <li>Python</li>
              <li>Ruby_on_Rails</li>
              <li>JavaScript</li>
              <li>jQuery</li>
              <li>Vue.js etc...</li>
            </ul>
          </div>
        </div>
      </div>

    </section>
    <!-- / blog -->
    
    <!-- contact -->
    <section id="contact" class="pt-0 text-center">
      <div class="cta cta-big bg-primary dark space-bottom-2x">
        <div class="text-center">
          <h4 class="mb-2">Contact</h4>
        </div>
      </div>
    
      <button @click="showContactForm" type="button" id="edit" class="mb-1">
        <i class="fa fa-envelope"></i>
          &nbsp;Contact Form を表示する
      </button>
      
      <div id="contact_form" class="p-3">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfWpNlYkvJIiK8Z5mAnR4eDp21jrQ-n_K74fYl6RVfBxjfTVg/viewform?embedded=true" width="100%" height="800" frameborder="0" marginheight="0" marginwidth="0">
          読み込んでいます…
        </iframe>
      </div>

    </section>
    

    <!-- / contact -->
  
  <a href="#top" class="scroll-to-top is-hidden smooth-scroll" data-nav-status="toggle"><i class="md-icon dp18">expand_less</i></a>
  
  
  <footer class="dark bg-primary-hover">
    <div class="container-fluid text-center">
      <p>Copyright © UTO portfolio 2020</p>
    </div><!-- / container-fluid -->
  </footer>
  
</div><!-- / wrapper -->


