/*headerロゴ*/
.img-logo-header{
  width: auto;
  max-height: 400px;
}

/*各portfolioのURLリンクのデザイン*/
.link-color a{
  color: #4d483d;
}

.link-color a:hover{
  color: #cc9814;
}


/*skill set*/
.skill-set{
  background-color: #fff1cf;
}

.img-skill-set {
  width: auto;
  max-height: 60px;
}

/*クリックして表示されるPortfolio一覧*/
.portfolio_content{
  display: none;
  height: auto;
  background-color: #ffe9b3;
}


/*クリックして表示されるPortfolio一覧の画像表示幅*/
.portfolio .project{
  padding: 0px 2px;
}




/*Blog*/
#blog{
  height: 300px;
}

/*Contact表示ボタン*/
#edit {
  padding: 5px 20px;
  background: #fff1cc;
  border-radius: 5px;
  border: 3px solid #ffc21a;
  font-size: 14px;
  color: #4d483d;
}

#edit:hover {
  background: #bfdcf1;
}

#edit:active{
  background: #94cdf9;
}

/*クリックして表示されるPortfolio一覧*/
#contact_form
{
  display: none;
  height: auto;
  background-color: #ffe9b3;
}
